.createdesc {
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.eventform {
    z-index: 999;
    width: 60%;
    min-height: 300px;
    padding: 50px;
    background-color: #2c3e50;
    border-radius: 10%;
    text-align: center;
    margin: 55px auto;
    color: aliceblue;
}


.formpush, .table {
    margin-top: 150px;
}

.userform {
    width: 50%;
    margin-bottom: 100px;
}