

<a href="http://localhost:50320/api/home/users">users</a>
<a href="http://localhost:50320/api/home/events">events</a>
<a href="http://localhost:50320/api/home/ecomments">ecomments</a>

<div class="jumbotron">
    <h1>Beckoned Path</h1>
</div>


<p>@ViewBag.xuserList</p>
<br />
<br /> <p>this is json???</p>
<p>@ViewBag.userJson</p>
<br />
<br /> <p>this is json end ------ </p>
@foreach (var item in ViewBag.xuserList)
{
    <li>@item.FirstMidName</li>
}

@foreach (var item in ViewBag.xuserList)
{
    <li>--- @item.EventComments</li>

}

<div>show the related entities</div>


